@model ErrorViewModel
@{
    var error_description = Model?.Error?.Error ?? "Sorry, there was an unexpected error.";
    var request_id = Model?.Error?.RequestId;
}
<div class="error-page">

    <h1>@Html.Localize("Label.Error")</h1>

    <div class="row">
        <div class="col-md-8">
            <hr />
            <div class="alert alert-danger">
                <strong>
                    <em>
                        <i class="glyphicon warning"></i>
                    </em>
                </strong>
                @error_description
            </div>
            <br />
            <div hide-if-null="request_id" class="request-id">
                @Html.Localize("Label.Error.RequestID") <code>@request_id</code>
            </div>
            <hr />
            <div class="text-right">
                <a asp-controller="Login" asp-action="Index" asp-route-id="@request_id">
                    @Html.Localize("Label.Login.Return")
                </a>
            </div>
        </div>
    </div>
</div>
