@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Angelo.Connect.Blog.Models
@using Angelo.Connect.Blog.Services
@using Angelo.Connect.Rendering;
@using Angelo.Common.Mvc;

@inject BlogQueryService blogQueryService
@model BlogWidget
@{
    var blogPosts = blogQueryService.QueryByWidget(Model.Id);
    var pageSize = Model.PageSize;
    var treeContext = ViewData.GetTreeContext();
    var encodedUrl = ViewContext.GetRelativeUrlEncoded();
}

<div style="margin-bottom: 15px">
    <h3>
        @Model.Title
    </h3>

    <hr />

    @foreach (var post in blogPosts.OrderByDescending(x => x.Posted).Take(pageSize).ToList())
    {
        <div class="row padded-bottom">
            <div class="col-sm-2">
                <img src="@post.Image" style="width: 100%; height: auto;" alt="@post.Caption"/>
            </div>
            <div class="col-sm-10" style="padding-left: 15px">
                <a class="text-info" href="/sys/content/blogpost/@post.Id">
                    @post.Title
                </a>
                <br />
                <p class="card-text" style="height: auto; overflow: hidden">
                    @post.Excerp
                </p>
                <p>
                    <small class="text-muted">
                        <i>@post.Posted.ToString("ddd MMM dd hh:mm tt")</i>
                    </small>
                </p>
            </div>
        </div>
    }
    <div class="row padded">
        <a class="text-info" href="/sys/content/blogpostlist/@Model.Id">
            View All
        </a>
    </div>

    @* If no blogs exist, show mock "shadow" placeholder when content is editable *@
    @if (treeContext.Editable && blogPosts.Count() == 0)
    {
        @for (var i = 0; i < 2; i++)
        {
            <div class="row padded-bottom">
                <div class="col-sm-2">
                    <div class="bg-muted" style="height: 50px"></div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12" style="padding-bottom: 5px">
                            <div class="bg-muted" style="height: 14px;"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="bg-muted" style="height: 14px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>