@using Microsoft.AspNetCore.Mvc.Controllers
@inject SiteContext site;

@{
    Layout = "_LayoutAdmin";
}

@section WindowTitle {
    @Html.Localize("Account Options")
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@section HeadScripts {
    @RenderSection("HeadScripts", required: false)
}

@section AdminPageHeader {
    <div class="admin-page-title">
        @RenderSection("Title", required: false)
    </div>
}    

@section AdminMenu {
    @RenderSection("AdminMenu", required: false)
}    

@section AdminBody {
    @RenderBody()
}  
      
@section AdminPanel {
    @RenderSection("Panel", required: false)
}
            

@section Scripts {
    @RenderSection("Scripts", required: false)
}
