@model Angelo.Connect.Calendar.UI.ViewModels.UpcomingEventsGroupFormViewModel
@inject Angelo.Connect.Configuration.SiteContext siteContext

<div class="form-group">
    <div id="UpcomingEventsGroupRadioButtons" style="padding-bottom:1EM; padding-top:1EM">
        <input name="categoryScope" type="radio" value="false" checked="checked"/> @Html.Localize("My Categories")
        &nbsp;
        &nbsp;
        <input name="categoryScope" type="radio" value="true" /> @Html.Localize("Shared Categories")
    </div>

    <component id="upcomingEventsWidgetGroupForm" type="UpcomingEventsWidgetGroupForm" arg-widgetId="@Model.WidgetId" arg-shared ="@false"></component>
</div>


<script type="text/javascript">
    function onSelectWidgetPostCategory(e) {

    }

    $(document).on("change", "#UpcomingEventsGroupRadioButtons input[type='radio']", function (e) {
        var showShared = e.currentTarget.value;

        $('#upcomingEventsWidgetGroupForm').component().invoke({ "widgetId": "@Model.WidgetId", "shared": showShared });
    });

    function upcomingEventsWidgetGroupGrid_DataBound() {
        // Set the check state to "checked" for all checkboxes in the grid
        // that match the list of selected category ids
        
        var idsToSetChecked = getSelectedCategoryIds();
        if (idsToSetChecked.length > 0 && idsToSetChecked[0].toString()) {
            for (var i = 0; i < idsToSetChecked.length; i++) {
                $("#upcomingEventsWidgetGroupGrid").find("[value=" + idsToSetChecked[i] + "]:checkbox").attr("checked", "checked");
            }
        }

        // Manage the hidden form value upon checking / unchecking grid checkboxes
        $("#upcomingEventsWidgetGroupGrid").find(":checkbox").on("click", function (event) {
            var selectedIds = getSelectedCategoryIds(),
                $chk = $(this),
                categoryId = $chk.val();

            if ($chk.is(":checked") && selectedIds.indexOf(categoryId) == -1) {
                selectedIds.push(categoryId);
            }
            else if (!$chk.is(":checked")) {
                var index = selectedIds.indexOf(categoryId);

                if (selectedIds.length > 1) {
                    selectedIds.splice(index, 1);
                }
                else if (selectedIds.length == 1) {
                    selectedIds.splice(index, 1);
                    $("#upcomingEventsWidgetGroupForm").find("input[name=Groups]").val("")
                }
            }

            $("#upcomingEventsWidgetGroupForm").find("input[name=Groups]").val(selectedIds.join(","));

        });

        function getSelectedCategoryIds() {
            var ids = $("#upcomingEventsWidgetGroupForm").find("input[name=Groups]").val() || "";
            return ids.split(",");
        }
    }
</script>