@model SharedFolderViewModel

@{
    var clientId = (string)ViewData["clientId"];
    var componentId = (string)ViewData["cid"];
}

<form id="@componentId" action="/api/clients/folders" class="form" data-ajax-form>
    @Html.Hidden("clientId", clientId)
    @Html.HiddenFor(x => x.FolderId)
    @Html.HiddenFor(x => x.ParentFolderId)
    @Html.HiddenFor(x => x.DocumentType)
    @Html.HiddenFor(x => x.OwnerLevel)
    @Html.HiddenFor(x => x.FolderType)
    @Html.HiddenFor(x => x.FolderFlags)
    @Html.HiddenFor(x => x.OwnerId)
    @Html.HiddenFor(x => x.CreatedBy)

    @*<div class="form-group" hide-if="String.IsNullOrEmpty(Model.ParentId)">
        <ul class="fieldlist">
            <li>
                <input type="radio" name="IsChild" id="IsNotChild" value="false" class="k-radio" />
                <label class="k-radio-label" for="IsNotChild">@Html.Localize("Create as a top level folder (no parent).").ToString()</label>
            </li>
            <li>
                <input type="radio" name="IsChild" id="IsChild" value="true" class="k-radio" checked="checked"/>
                <label class="k-radio-label" for="IsChild">@Html.Localize("Create as a child folder to the selected folder.").ToString()</label>
            </li>
        </ul>
        <style>
            .fieldlist {
                margin: 1em;
                padding: 1em;
                border-style: solid;
                border-width: 1px;
            }
            .fieldlist li {
                list-style: none;
                padding-bottom: 0em;
            }
        </style>
    </div>*@

    <div class="row" hide-if="ViewContext.ModelState.IsValid">
        <div class="col-sm-11">
            <div class="alert alert-danger">
                @Html.ValidationSummary(excludePropertyErrors: false)
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>@Html.ShortNameFor(x => x.Title)</label>
        <div>
            <input class="form-control" asp-for="Title" required />
        </div>
    </div>

    @*<div class="form-group">
        <label class="col-sm-3">@Html.ShortNameFor(x => x.DocumentType)</label>
        <div class="col-sm-9">
            @(Html.Kendo().TextBoxFor(model => model.DocumentType)
                .HtmlAttributes(new { required = "required", style = "width: 80%" })
            )
            @Html.ValidationMessageFor(x => x.DocumentType, "", new { @class = "text-danger" })
        </div>
    </div>*@

</form>
