@*@model IList<Angelo.Connect.Web.UI.ViewModels.Admin.PoolRoleClaimViewModel>*@

@using Kendo.Mvc.UI
@using Angelo.Connect.Kendo.Extensions
@using Angelo.Connect.Security
@using Kendo.Mvc.UI.Fluent

@{
    var poolId = (string)ViewData["PoolId"];
    var roleId = (string)ViewData["RoleId"];
    var isLocked = (bool)ViewData["IsLocked"];

    var componentId = (string)ViewData["cid"];

    var claims = (IList<SecurityClaim>)ViewData["ClaimList"];
    var selectedClaims = (IList<Angelo.Identity.Models.RoleClaim>)ViewData["SelectedClaims"];
    var permissions = (IEnumerable<SecurityPermissionViewModel>)ViewData["PermissionGroups"];

}

<form class="form form-horizontal" action="@routes.SiteApi($"roles/{roleId}/permissions")" id="@componentId">
    <input type="hidden" value="@poolId" name="PoolId" />
    <input type="hidden" value="@roleId" name="RoleId" />

    <div>
        @(
    Html.Kendo().TreeView()
    .Name(componentId + "TreeView")
    .Checkboxes(checkboxes => checkboxes.CheckChildren(true))
    .ExpandAll(true)
    .CheckboxTemplate("<input type='checkbox' name='SelectedPermissionGroups' value='#= item.text #' data-title='#= item.text #' class='claimChk' #if(item.checked) { # checked # } # />")
    .Events(events =>
            events
            //.Check("onGroupChecked")
            .DataBound("onDataBound")
            )
    .BindTo(permissions, (NavigationBindingFactory<TreeViewItem> mappings) => {
        mappings.For<SecurityPermissionViewModel>(bindings => bindings.ItemDataBound((item, category) => {
            item.Text = category.Title;
            item.Checked = category.Selected;
            //item.Expanded = true;
        })
       .Children(category => category.Permissions));
    })
    .AutoBind(true)
        )
       

    </div>
</form>

<script>
    var permissionViewData = {
        poolId: '@poolId',
        roleId: '@roleId',
        locked: +'@(isLocked ? 1 : 0)',
        apiUrl: '@routes.SiteApi($"roles/{roleId}/permissions")'
    };

    function onDataBound(e) {
        e.sender.expand(".k-item");
    }


    $(document).ready(function () {
        if (permissionViewData.locked) {
           $(".claimChk").attr("disabled", "disabled");
        }

        $(".chkSelected").each(function (i, chk) {

            $(chk).prop("checked", true);
        });
    });

</script>



