@model ForceResetPasswordViewModel
@{
    var origin = ViewData["Origin"];
}

<h1>@Html.Localize("Change Your Password").</h1>

@Html.Partial("_ValidationSummary")

<form asp-controller="Account" asp-action="ForceResetPassword" asp-route-origin="@origin" method="post" class="form-horizontal" role="form">
    <h4 class="hidden">@Html.Localize("Label.Login.ChangePassword")</h4>
    <hr />
    <input asp-for="UserId" type="hidden" />
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Html.Localize("Button.UpdatePassword")</button>
        </div>
    </div>
</form>
